@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

:root {
    --bg-clr-body: #032030;
    --bg-clr-navbar: #022B42;
    --font-clr: white;
    --btn-bg-clr: #004D74;
    --border-clr: #006DA4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-clr-body);
    letter-spacing: 1px;
}

.navbar {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-clr-navbar);
}

.navbar a {
    text-decoration: none;
    color: var(--font-clr);
}

.navbar .logo {
    height: 100%;
    width: 25%;

    /* Center the logo */
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar .list-items {
    height: 100%;
    width: 50%;

    /* Center the list-items */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .login {
    height: 100%;
    width: 25%;

    /* Center the login */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .login a {
    padding: 5px 10px;
    /* border: 2px solid var(--border-clr); */
    border-radius: 10px;
    background-color: var(--btn-bg-clr);
    transition: ease-in-out all .3s;
}

.navbar .login a:hover {
    padding: 7px 12px;
    /* border: 2px solid var(--border-clr); */
    border-radius: 10px;
    background-color: var(--btn-bg-clr);
}

svg{
    fill: rgb(255, 255, 255);
}

.hamburger-menu{
    margin-right: 1em;
    display: none;
}

/* side-nabar css starts */

.side-navbar{
    height: 100%;
    width: 225px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #006da475;
    backdrop-filter:  blur(10px);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.side-navbar a {
    width: 100%;
    padding: 1rem;
}

.side-navbar a:hover{
    background-color: #28759b75;
}


/*----------------------------------------------*/

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 100%;
    background: var(--bg-clr-navbar);
    padding: 25px 30px;
    border-radius: 5px;
    /* border: 5px solid #3da0ce; */
    /* box-shadow: 10px 10px 7px #328ebc; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container .title {
    color: var(--font-clr);
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.3px;
    width: 43px;
    background: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

.container form .user-details {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 12px 0px;
}

form .user-details .input-box {
    color: var(--font-clr);
    margin-bottom: 15px;
    width: calc(100 / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.user-details .input-box .error-details {
    display: flex;
    display: none;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    color: red;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    color: var(--font-clr);
    border: none;
    padding-left: 15px;
    font-size: 16px;
    border-bottom: 2px solid black;
    background-color: rgba(54, 59, 79, 0.413);
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: var(--font-clr);
}

form .button {
    height: 45px;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: var(--font-clr);
    border-radius: 5px;
    background: var(--btn-bg-clr);
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
}

form .button input:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media (max-width : 723.2px) {
    .container {
        max-width: 80%;
    }

    form .user-details .input-box {
        width: 100%;
    }

    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 0;
    }

    .navbar .list-items{
        display: none;
    }

    .navbar .login{
        display: none;
    }

    .navbar .hamburger-menu{
        fill: white;
        display: block;
    }
}

/* Form CSS Ends */
