@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');


:root{
    --bg-clr-body : #032030;
    --bg-clr-navbar : #022B42;
    --font-clr : white;
    --btn-bg-clr: #004D74;
    --border-clr: #006DA4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-clr-body);
    letter-spacing: 1px;
}

.navbar{
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-clr-navbar);
}

.navbar a {
    text-decoration: none;
    color: var(--font-clr);
}

.navbar .logo{
    height: 100%;
    width: 25%;
    
    /* Center the logo */   
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar .list-items{
    height: 100%;
    width: 50%;
    
    /* Center the list-items */   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .login{
    height: 100%;
    width: 25%;
    
    /* Center the login */   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .login a{
    padding: 5px 10px;
    /* border: 2px solid var(--border-clr); */
    border-radius: 10px;
    background-color: var(--btn-bg-clr);
    transition: ease-in-out all .3s;
}

.navbar .login a:hover{
    padding: 7px 12px;
    /* border: 2px solid var(--border-clr); */
    border-radius: 10px;
    background-color: var(--btn-bg-clr);
}

svg{
    fill: rgb(255, 255, 255);
}

.hamburger-menu{
    margin-right: 1em;
    display: none;
}

/* side-nabar css starts */

.side-navbar{
    height: 100%;
    width: 225px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #006da475;
    backdrop-filter:  blur(10px);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.side-navbar a {
    width: 100%;
    padding: 1rem;
}

.side-navbar a:hover{
    background-color: #28759b75;
}

@media(max-width : 723.2px){
    .navbar .list-items{
        display: none;
    }

    .navbar .login{
        display: none;
    }

    .navbar .hamburger-menu{
        fill: white;
        display: block;
    }
}


