@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

:root {
    --bg-clr-body: #f7f9f9;
    --bg-clr-navbar: #4bbf7b;
    --font-clr: white;
    --border-clr: #006DA4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 1.05em;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-clr-body);
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-clr-navbar);
}

.navbar a {
    text-decoration: none;
    color: var(--font-clr);
}

.navbar .logo {
    height: 100%;
    width: 25%;

    /* Center the logo */
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar .list-items {
    height: 100%;
    width: 40%;

    /* Center the list-items */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

svg {
    fill: rgb(255, 255, 255);
}

.hamburger-menu {
    margin-right: 1em;
    display: none;
}

/* side-nabar css starts */
.side-navbar {
    height: 100%;
    width: 225px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
    flex-direction: column;
    background-color: var(--bg-clr-navbar);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.side-navbar a {
    width: 100%;
    padding: 1rem;
    margin-left: 0px;
    padding-left: 14%;
}

.side-navbar a:hover {
    background-color: #0505052e;
}

.main-content {
    height: 80%;
    width: 100%;
}

.footer {
    height: 10%;
    width: 100%;
    background-color: #333;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 10px;
}

.footer a {
    text-decoration: none;
    color: white;
}

@media(max-width : 723.2px) {
    .navbar .list-items {
        display: none;
    }

    .navbar .login {
        display: none;
    }

    .navbar .hamburger-menu {
        fill: white;
        display: block;
    }
}