@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

:root {
    --bg-clr-body: #f7f9f9;
    --bg-clr-navbar: #4bbf7b;
    --font-clr: white;
    --border-clr: #006DA4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 1.05em;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-clr-body);
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar {
    height: 10vh;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-clr-navbar);
}

.navbar a {
    text-decoration: none;
    color: var(--font-clr);
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #006DA4;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.navbar a:hover::before {
    transform: scaleX(1);
    transition: transform .3s ease-in-out;
}

.navbar a.active::before {
    transform: scaleX(1);
}

.navbar .logo {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .list-items {
    height: 100%;
    width: 40%;

    /* Center the list-items */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

svg {
    fill: rgb(255, 255, 255);
}

.hamburger-menu {
    margin-right: 1em;
    display: none;
}

/* side-nabar css starts */
.side-navbar {
    height: 100%;
    width: 225px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
    flex-direction: column;
    background-color: var(--bg-clr-navbar);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.side-navbar a {
    width: 100%;
    padding: 1rem;
    margin-left: 0px;
    padding-left: 14%;
}

.side-navbar a:hover {
    background-color: #0505052e;
}

.mini-navbar {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    background: #d2d2d2;
    flex-shrink: 0;
}

.mini-navbar a {
    text-decoration: none;
    color: #4b4b4b;
    cursor: pointer;
    position: relative;
}

.mini-navbar a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.mini-navbar a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.mini-navbar a:active::before {
    transform: scaleX(0);
    transition: transform 0s;
}

