@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');


:root {
    --bg-clr-body : #f7f9f9;
    --bg-clr-navbar : #343a40;
    --font-clr : #ffffff;
    --border-clr: #006DA4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-clr-body);
    letter-spacing: 1px;
}

.navbar {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-clr-navbar);
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar .logo {
    height: 100%;
    width: 25%;

    /* Center the logo */
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar .list-items {
    height: 100%;
    width: 50%;

    /* Center the list-items */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .login {
    height: 100%;
    width: 25%;

    /* Center the login */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .login a {
    padding: 10px 16px;
    /* border: 2px solid var(--border-clr); */
    border-radius: 10px;
    background-color: var(--btn-bg-clr);
    transition: ease-in-out all .3s;
}

.navbar .login a:hover {
    padding: 7px 12px;
    /* border: 2px solid var(--border-clr); */
    border-radius: 10px;
    background-color: var(--btn-bg-clr);
}

svg{
    fill: rgb(255, 255, 255);
}

.hamburger-menu{
    margin-right: 1em;
    display: none;
}

/* side-nabar css starts */

.side-navbar{
    height: 100%;
    width: 225px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
    flex-direction: column;
    background-color: var(--bg-clr-navbar);
    backdrop-filter:  blur(10px);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.side-navbar a {
    width: 100%;
    padding: 1rem;
    margin-left: 0px;
    padding-left: 14%;
}

.side-navbar a:hover{
    background-color: #0505052e;
}
/*----------------------------------------*/
/* Form CSS Begins */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    height: fit-content;
    width: 100%;
    background: var(--bg-clr-navbar);
    margin-top: 2rem;
    padding: 25px 30px;
    border-radius: 5px;
    /* border: 5px solid #3da0ce; */
    /* box-shadow: 10px 10px 7px #328ebc; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container .title {
    color: var(--font-clr);
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.3px;
    width: 27px;
    background: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px 12px 0px;
    scrollbar-width: none;
}

form .user-details .input-box {
    color: var(--font-clr);
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: bolder;
    margin-bottom: 5px;
}

.user-details .input-box .error-details {
    display: flex;
    /* display: none; */
    align-items: center;
    width: 100%;
    margin-top: 5px;
    color: red;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    color: var(--font-clr);
    border: none;
    padding-left: 15px;
    font-size: 16px;
    background-color: rgba(246, 246, 246, 0.413);
    transition: all 0.3s ease;
}

.user-details .input-box input::placeholder{
    color: var(--font-clr);
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: var(--font-clr);
}

form .gender-details .gender-title {
    color: var(--font-clr);
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 14px 0;
    color: var(--font-clr);
}

.gender-details .category label {
    display: flex;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 9px;
    border: 5px solid transparent;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    border-color: var(--font-clr);
    background: var(--border-clr);
}

form input[type=radio] {
    display: none;
}

form .button {
    height: 45px;
    margin: 20px 0px;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(246, 246, 246, 0.413);
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
}

form .button input:hover {
    background-color: black;
}

form .login{
    color: var(--font-clr);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 5px;
}

form .login a{
    margin-left: 16px;
    text-decoration: none;
    color: #0066CC;
}

form .login a:hover{
    text-decoration: underline;
    color: rgb(0, 198, 253);
}

@media (max-width : 723.2px) {
    .container {
        max-width: 80%;
    }

    form .user-details .input-box {
        width: 100%;
    }

    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 0;
    }

    .navbar .list-items{
        display: none;
    }

    .navbar .login{
        display: none;
    }

    .navbar .hamburger-menu{
        fill: white;
        display: block;
    }
}

/* Form CSS Ends */