@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
:root{
    --bg-clr-body : #f7f9f9;
    --bg-clr-navbar : #343a40;
    --font-clr : white;
    --border-clr: #006DA4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 1.05em;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-clr-body);
    letter-spacing: 1px;
}

.navbar{
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-clr-navbar);
}

.navbar a {
    text-decoration: none;
    color: var(--font-clr);
}

.navbar .logo{
    height: 100%;
    width: 25%;
    
    /* Center the logo */   
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar .list-items{
    height: 100%;
    width: 50%;
    
    /* Center the list-items */   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .login{
    height: 100%;
    width: 25%;
    
    /* Center the login */   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .login a{
    padding: 5px 10px;
    /* border: 2px solid var(--border-clr); */
    border-radius: 10px;
    transition: ease-in-out all .3s;
}

.navbar .login a:hover{
    padding: 7px 12px;
    /* border: 2px solid var(--border-clr); */
    border-radius: 10px;
    color: black;
    background-color: #adb5bd;
}

svg{
    fill: rgb(255, 255, 255);
}

.hamburger-menu{
    margin-right: 1em;
    display: none;
}

/* side-nabar css starts */

.side-navbar{
    height: 100%;
    width: 225px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
    flex-direction: column;
    background-color: var(--bg-clr-navbar);
    backdrop-filter:  blur(10px);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.side-navbar a {
    width: 100%;
    padding: 1rem;
    margin-left: 0px;
    padding-left: 14%;
}

.side-navbar a:hover{
    background-color: #0505052e;
}

.container{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .product-container {
    display: grid;
    grid-template-rows: 15% 1fr;
    grid-template-columns: 1fr 1fr;
    height: 50%; 
    width: 50%;
    background-color: #e7e7e89e;
    border: 2px solid #022b421c;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .product-container .product-title {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #050505;
    border-bottom: 5px solid #022b421c;
}

.container .product-container .product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-right: 5px solid #022b421c;
}

.container .product-container .product-details span,a{
    margin-left: 10%;
    color: #000000;
}

.container .product-container .product-details a{
    color: rgba(5, 5, 5, 0.692);
    text-decoration: none;
}

.container .product-container .product-details a:hover{
    text-decoration: underline;
    color: #00aaff;
}

.container .product-container .product-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .product-container .product-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-right-radius: 20px;
}

@media(max-width : 770px){
    .navbar .list-items{
        display: none;
    }

    .navbar .login{
        display: none;
    }

    .navbar .hamburger-menu{
        fill: white;
        display: block;
    }
}